NODE_ENV = development
PORT = 5000
HOST_NAME = localhost
#DATABSE
DATABASE_NAME=editor1
DATABASE_PASSWORD=toiseluonnhoveban
#MQTT
MQTT_PORT=
#EMAIL
EMAIL_MAIL=
EMAIL_KEY=
#TOKEN
accessTokenSecret = 
refreshTokenSecret = 
